<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pcloud to Gdrive</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/client.js" defer></script>
    <script type="module" src="/components/pcloud_component.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
    <main>
        <h1>app</h1>
        <div class="folders">
            <div class="pcloud-folders">
                <h2>Origin</h2>
                <p>Pcloud Drive</p>
    
                <div class="folder">
                    <input type="radio" value="folder.id" name="originFolderSelection">
                    <img class="folder-icon" src="/images/folder.png" alt="">
                    <h4>folder.name</h4>
                </div>
           
            </div>
            <div class="gdrive-folders">
                <h2>Destination</h2>
                <p>Google Drive</p>
           
                <div class="folder">
                    <input type="radio" value="folder.id" name="destinationFolderSelection">
                    <img class="folder-icon" src="/images/folder.png" alt="">
                    <h4>folder.name</h4>
                </div>
           
            </div>
        </div>
        <button>next</button>
    </main>
</body>
</html>