<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user signup</title>
</head>
<body>
    <form class="form-wrapper" action="/user" method="post">
        <h1>Create Account</h1>
        <input type="hidden" name="_method" value="post">
        <label class="bold" for="username">Username</label>
        <input type="text" name="username">
        <label class="bold" for="email">Email</label>
        <input class="bold" type="text" name="email">
        <label for="password">Password</label>
        <input class="bold" type="password" name="password">
        <button class="btn" id="dark">sign up</button>
    </form>    
</body>
</html>