<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pcloud to Gdrive</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/client.js" defer></script>
    <script type="module" src="/components/pcloud_component.js" defer></script>
    <script type="module" src="/components/gdrive_component.js" defer></script>
    <script type="module" src="/components/add_transfer_component.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <h1>pcloud2gdrive</h1>
    </header>
    <nav>
        <div class="nav-spacer"></div>
        <div class="main-nav">
            <button id="taskListBtn">task list</button>
            <button id="addTransferBtn">add transfer</button>
        </div>
    </nav>
    <main>
        <aside>
            <button id="authorisePcloudBtn">Get pCloud Token</button>
            <button id="authoriseGdriveBtn">Get Gdrive Token</button>
        </aside>
        <div class="app">
        </div>
    </main>
</body>
</html>