<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form class="form-wrapper" action="/api/session" method="post">
        <h1>Login</h1>
        <label for=""></label>
        <label class="bold" for="email">Email</label>
        <input type="text" name="email" id="">
    
        <label class="bold" for="password">Password</label>
        <input type="password" name="password">
    
        <button class="btn" id="dark">login</button>
        <div class="newUser">
            <span>New user?</span>
            <a href="/user/new">sign up</a>
        </div>
    </form>
    
</body>
</html>