.add-task-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add-task-page > h3 {
    margin: 1% 0 0 1%;
}

.add-task-page > p {
    margin: 5px 0 0 1%;
    font-weight: 300;
}

.folder-wrapper {
    display: flex;
    height: 100%;
    gap: 2%;
    overflow-y: scroll;
}

.folder-browser {
    height: 80%;
}

.folder-browser > header {
    display: flex;
    align-items: center;
}