.add-task-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1%;
}

.folders-wrapper {
    display: flex;
    justify-content: center;
    height: 85%;
    width: 100%;
    gap: 2%;
    margin-top: 2rem;
}


.origin-wrapper, .target-wrapper {
    width: 45%;
    max-height: 60vh;
    overflow-y: scroll;
}

.folder-browser > header {
    display: flex;
    align-items: center;
}

#createTaskBtn {
    background-color: #CDEDF6;
    padding: 5%;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    width: 8rem;
    border-radius: 5px;
}

#createTaskBtn:hover {
    background-color: #5EB1BF;
}