nav {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:  0;
}

.navBtn {
    width: 5rem;
    height: 4.2rem;
    margin: 0;
}

.navBtn.active {
    background-color: #5eb0bf38;
}